.hello{
  font-size: 40px;
  color: orangered;
  }
  .sharing{
  font-size: 70px;
  color: orangered;
  }
  .landing-section{
      padding-top: 133px;
      background-image: url(behanceGirls.jpeg);
      background-position: center center !important;
      background-size: cover !important;
      background-repeat: no-repeat;
      position: relative;
      width: 100%;
  }
  
  .section-text{
      color: #6e6e6e;
      border: 1px solid #ffffff;
  }
    
.orange{
    color: #EC5242;
  }

  .paragraph1{
  border: 20, 20, 20, 20
}
  
.main-Program{
    background-color: #272a31;
    text-decoration-color: white;
  }
  .main-Program{
    color: white;
  
  }
  .card-title{
    color: #EC5242;
  }

  .partner{
    background-color: #272a31;
    color: white;
  }

  

